.clients-manager {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    justify-content: center;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;
    width: 100%;
}

h2 {
    text-align: start;
    color: #333;
}



.table-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
    padding-bottom: 10px;

}



@media(max-width:547px){
    .table-actions{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .table-actions button{
        width: 100%;
        margin: 10px 0;
    }
}

.add-client-table {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    text-decoration: none;
}

.add-client-table:hover {
    transform: translateY(-2px);
    background-color: #333;
}

.search-container {
    position: relative;
    width: 100%;
    flex: 1;
}

.search-client-table {
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s ease;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #999;
    transition: color 0.3s ease;
}

.search-client-table:focus+.search-icon {
    color: #000957;
}

.update-table-btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}

.update-table-btn:hover {
    transform: translateY(-2px);
    background-color: #000957;
    color: #ffffff;
}


