# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/routes/Security/private-key.pem
server/routes/Security/public-key.pem
.env
server/Fynka_db.sql
analytics_service/venv
analytics_service/app/__pycache__/__init__.cpython-312.pyc
analytics_service/app/__pycache__/config.cpython-312.pyc
analytics_service/app/__pycache__/models.cpython-312.pyc
analytics_service/app/__pycache__/routes.cpython-312.pyc
analytics_service/app/services/__pycache__/summary_service.cpython-312.pyc
