.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 60px;
  height: 100%;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.sidebar.open {
  width: 250px;
}

.sidebar-header,
.sidebar-nav button,
.sidebar-nav a,
.sidebar-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.sidebar-header{
    gap: .5rem;
}

.sidebar-header h1,
.sidebar-nav h2 {
  margin: 0;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-left: 10px;
  white-space: nowrap;
}


.sidebar-nav {
  flex-grow: 1;
  padding: 1rem;
}

.sidebar:not(.open) :where(.text, .icon-logo, hr) {
    display: none;
}

.sidebar:not(.open) .sidebar-nav {
    padding: 0;
}
  

.sidebar-nav button,
.sidebar-nav a {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin-bottom: 0.5rem;
}

.sidebar-nav button:hover,
.sidebar-nav a:hover {
  background-color: #e9ecef;
}

.sidebar-footer {
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid #dee2e6;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.email {
  font-size: 0.8rem;
  color: #6c757d;
}

.main-content {
  flex: 1;
  padding: 1rem;
  
  overflow-x: hidden;
}

/* hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #dee2e6;
} */

.yellow {
  color: #ffc107;
}

.red {
  color: #dc3545;
}


.sidebar-toggle-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: .2rem;
    
}