.sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.sidebar {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
    padding: 0 10px;
}

.logout-button{
    display: flex;
    
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 52px;
    right: 10px;
    overflow: hidden;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.logout-button:hover{
    background-color: #B52700;
    transform: translateY(-3px);
}

.sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2c2c2c;
}

.sidebar-list {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    font-weight: 600;
    font-size: 1rem;
    color: #2c2c2c;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
}

.sidebar-list.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.sidebar-list:hover {
    background-color: #363636;
    color: #ffffff;
}


.sidebar-list.active {
    background-color: #252525;
    color: #ffffff;
}

.sidebar-divider {
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
}

.sidebar-title {
    font-weight: 600;
    font-size: 1rem;
    color: #2c2c2c;
}


.sidebar-mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    padding: 0 10px;
    position: relative;
}

.sidebar-mobile-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}


@media(max-width:768px) {
    .sidebar-list {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .sidebar-menu-icon {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        align-self: center;
        font-weight: 600;
        font-size: 1rem;
        color: #2c2c2c;
        cursor: pointer;
        transition: all 150ms ease-in-out;
        position: absolute;
        top: 5px;
        right: 0;
    }

    .sidebar-menu-icon.logout{
        right: 30px;
    }

    .sidebar-menu-icon:hover {
        background-color: white;
        color: black;
        transform: translateY(-2px);
    }

    .sidebar-list {
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    .sidebar-mobile {
        flex-direction: column;
    }

    .sidebar-mobile-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

}