
.active-client {
    background-color: #e6f7e6;
    color: #2e7d32;
}

.debtor-client {
    background-color: #ffebee;
    color: #d32f2f;
}


.status-text {
    font-weight: bold;
}

.amount-text {
    font-size: 0.9rem;
    color: #555;
}

.client-debt-status-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.client-debt-status {
    display: inline-block;
    border-radius: 5px;
    padding: .5rem;

    color: #007706;
}

.client-debt-status.active-client {
    background-color: #88f18e;
}

.client-debt-status.no-debt {
    background-color: #dff188;
    color: #020202;
}

.client-debt-status.debtor-client {
    background-color: #f18888;
    color: #020202;
}


.client-debt-amount {
    display: inline-block;
    border-radius: 5px;
    padding: .5rem;

    color: #007706;
}

.client-debt-amount.active-client {
    background-color: #88f18e;
}

.client-debt-amount.no-debt {
    background-color: #dff188;
    color: #020202;
}

.client-debt-amount.debtor-client {
    background-color: #f18888;
    color: #020202;
}

.client-finder-table-actions button {
    align-self: center;

}
